* { margin:0;
  box-sizing: border-box;
cursor: url('data:image/svg+xml;utf8,<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32"><circle cx="10" cy="10" r="5" stroke-width="0" style="stroke: black; fill: black;"/></svg>') 10 10, auto;
}

@font-face {
  font-family: font;
  src: url('./asset/font/Inter-Regular.ttf');
}

@font-face {
  font-family: font-italic;
  src: url('/asset/font/Inter-Italic.woff');
}

.italic {
  font-style: italic;
}
.image {
  padding-top: 100px !important;
}

.code {
 font-family:"Courier New", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; margin:0pt;
}




  body {
    font-family: Inter, font, sans-serif;  /* carattere principale */
    background-color: white;
    overflow: visible;

}

[class*="about"] {
  font-decoration:underline
}


.menu {
  font-size: 14pt;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 3;
  width: 100%;

}


a {
  color:black;
  text-decoration: none;
}

a:hover {
  color:black;
  font-style: italic;
}

.corpo {
  font-size: 10pt;
  line-height: 12pt;
}
.descrizione {
  padding-top: 80px;
}

.left {
  text-align: left;
  width:50vw;
  float: left;
  padding: 15px 30px 15px 30px;
}

.right {
  text-align: right;
  width: 50vw;
  float: left;
  padding: 15px 30px 15px 30px;
}

.center {
  font-size: 10pt;
  text-align: center;
}

.left3 {
  text-align: left;
  width:33.33vw;
  float: left;
  padding: 15px 30px 15px 30px;
}

.right3 {
  text-align: right;
  width: 33.33vw;
  float: left;
  padding: 15px 30px 15px 30px;
}


.center3 {
  text-align: center;
  width: 33.33vw;
  float: left;
  padding: 15px 30px 15px 30px;
}

.work {
  background-color: pink;
}

.project {
  height: 600px;
  background-color: pink;
  border-color: red;
}

.ita {
  color: grey;
}

.info {
  color: grey;
}

.didascalie {
  text-align:left;
  font-size: 10pt;
  -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
           padding:0;
}


.content {
  width: 66.66%;
  margin-left: 16.66%;
  margin-right: 16.66%;
  float: left;
  padding: 15px 30px 15px 30px;
}


.contents {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  float: left;
  padding: 15px 30px 15px 30px;

}

.contentss {
  width: 33.33%;
  margin-left: 33.33%;
  margin-right: 33.33%;
  float: left;
  padding: 15px 30px 15px 30px;

}

.cose {
  display: block;
   margin-left: auto;
   margin-right: auto
}


.centered {
  display: block;
   margin-left: auto;
   margin-right: auto
}

.pagine {
  width:400px;
}

.testo-ognicosa {
  margin-top:100px; margin-bottom:100px;
  font-size: 10pt;
  line-height: 12pt;
  font-family: Garamond, serif;
 font-style: normal; font-weight: normal; text-decoration: none;
}

footer {
  font-size: 12pt;
  padding-bottom: 10px;
}

iframe {
  padding: 0;
  border-style: none;
  border: 0;
   }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px 30px 15px 30px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.about1 {
  width:16.66%;
  float: left;
  padding: 15px 30px 15px 30px;
}
.about2 {
  width: 83.33%;
  float: left;
  padding: 15px 30px 15px 30px;
}

.about3 {
  display:none;
  width: 100%;
  float: left;
  padding: 15px 30px 15px 30px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;

  }
.about1 {
  display: none;
}
.about2 {
  display:none;
}
.about3 {
  display:block;
}

.space {
  margin-top:100px;
  margin-bottom:100px;
}

.m {
  display: none;
}

[class*="content"]  {
    width: 100%;
    float: left;
    padding: 15px 30px 15px 30px;
    margin: 0;
}


}
